body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #141414;
}

body > h1 {
    color: #960709;
}

body > p {
    color: #DA0000;
    font-size: 14pt;
}

#username-select {
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#get-recommendations-button {
    background-color: #4CAF50;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#get-recommendations-button:hover{
    background-color: #80c084;
}

#recommendations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    border: 1px solid #ddd;
    background-color: #DFE2DB;
    margin: 10px;
    border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}